/* CSS Document */
/* author:cyy */
/*css reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,button,th,td,select, figure { margin:0; padding:0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline;}
h1,h2,h3,h4,h5, strong { font-weight: normal; }
em { font-style: normal; }
html,body { width:100%; overflow-x:hidden;  }

body{ -webkit-tap-highlight-color:rgba(255,0,0,0);}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {  display: block; margin:0; padding:0;}
audio,canvas,progress,video {  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
  margin:0;
  padding:0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],template {  display: none;}
a {  background-color: transparent;}
a:active,a:hover {  outline: 0;}
abbr[title] {  border-bottom: 1px dotted;}
b,strong {  font-weight: normal;}
dfn {  font-style: italic;}
h1 {  font-size: 2em;}
mark {  background: #ff0;  color: #000;}
small { }
sub,sup {  font-size: 75%;  line-height: 0;  position: relative;  vertical-align: baseline;}
sup {  top: -0.5em;}
sub {  bottom: -0.25em;}
img {  border: 0;}
svg:not(:root) {  overflow: hidden;}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],html input[disabled] {  cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {  border: 0;  padding: 0;}
input {  line-height: normal;}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {  border: 1px solid #c0c0c0;  margin: 0 2px;  padding: 0.35em 0.625em 0.75em;}
legend {  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {  overflow: auto;}
optgroup {  font-weight: bold;}

td,th {  padding: 0;}



table{border-collapse:collapse;border-spacing:0;}
img{border:0}
ul{list-style:none;}

input,textarea,select,option,button{font-family: "microsoft yahei"; border:none;}
.clear {*zoom:1;}
.clear:after { content: '\20'; clear: both; display: block;}
.fl { float: left; }
.fr { float: right; }
a{text-decoration:none;outline: none;}
a:hover{outline: none;}
input[type="button"],input[type="submit"],input[type="text"]{-webkit-appearance: none; border-radius: 0;}
input,label{-webkit-tap-highlight-color:rgba(255,0,0,0); }
a,button,textarea,select{-webkit-appearance: none;-webkit-tap-highlight-color:rgba(255,0,0,0); }/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */

textarea{resize:none;}/*禁止改变大小*/
/*解决firefox按钮文字难以垂直居中问题*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
  border:none;padding:0;
}
input,textarea,select,option,button,form,fieldset{margin:0;padding:0;border-width:1px;outline:none;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-o-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
}
